.logo-part {
  color: #2e2f42;
}

.nav-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address {
  font-style: normal;
}

.address-list-item-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-list-item-link:hover,
.address-list-item-link:focus {
  color: #404bbf;
}
